body {
    display: flex;
    background-image: url("../assets/naval_background.png");
    background-size: cover; /* Faz a imagem de fundo ocupar 100% da tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    background-attachment: fixed; /* Faz a imagem de fundo permanecer estática */
    color: white;
    align-items: center;
    flex-direction: column;
}

.tittle{
    text-align: center;
    font-size: 40px;
    color: white; /* Cor do texto */
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000; 
    margin-bottom: 5vh;
}

.button{
    color: white;
    border-radius: 5px;
    background-color: gray;
    font-size: 2vw;
}

#offline_ship_image{
    height: 300px;
    border-style: solid; 
    border-top-width: 3px;
    border-right-width: 5px;
    border-bottom-width: 3px;
    border-left-width: 5px;
    width: auto;
}

#online_ship_image{
    height: 300px;
    border-style: solid; 
    border-top-width: 3px;
    border-right-width: 5px;
    border-bottom-width: 3px;
    border-left-width: 5px;
    width: auto;
}

h3{
    font-size: 2vw;
}

.play_section{
    display: flex;
    flex-direction: row;
    gap: 20vw;

}
.offline{
    align-items: center;
    display: flex;
    flex-direction:column;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(60, 65, 67);
}

.online{
    align-items: center;
    display: flex;
    flex-direction:column;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(60, 65, 67);
}


.bot_game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ally_ships{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    background-color: #342e2e;
    border-radius: 20px;
    margin-top: 10vh;
}

.ally_ships img{
    height: 8vh;
    margin-bottom: 2vh;
}

.ships{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ships h3{
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000; 
}

.matrix_ally {
    padding: 10px;
    padding-left: 30px;
    background-color: #3d3838;
    color: #342e2e;
    display: grid;
    grid-template-columns: repeat(8, 70px); /* Define 8 colunas de 70px cada */
    grid-template-rows: repeat(8, 70px); /* Define 8 linhas de 70px cada */
    gap: 5px;
    margin: 2vw;
}

.matrix_enemy {
    padding: 10px;
    padding-left: 30px;
    background-color: #3d3838;
    color: #342e2e;
    display: grid;
    grid-template-columns: repeat(8, 70px); /* Define 8 colunas de 70px cada */
    grid-template-rows: repeat(8, 70px); /* Define 8 linhas de 70px cada */
    gap: 5px;
    margin: 2vw;
}
.matrix_enemy div {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.clone {
    position: absolute;
    pointer-events: none; /* Impede que a imagem clonada interfira com outros eventos do mouse */
    z-index: 1000; /* Garante que a imagem clonada fique acima de outros elementos */
}

.matrix-cell {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.matrix-cell.occupied {
    background-color: yellow; /* Cor da célula quando ocupada */
}